// out: ../css/example.css, sourcemap: false, compress: true

input[type=text], select, .input-group, .form-control {
    height: 40px;
}
.bootstrap-switch {
    margin-top: 3px;
}
.bootstrap-switch-label {
    color: rgba(44, 62, 80, 0.4) !important; // #2c3e50
}

.container {
    // max-width: 900px;
    width: auto !important;
}

#page-content {
    padding: 0;
}

h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

#btn-menu {
    width: 100%;
    & .btn {
        width: 11%;
    }
}

.unit {
    display: inline-block;
    margin-left: 8px;
    line-height: 40px;
}

.well {
    padding-bottom: 0;
}

.menu-panel > span.glyphicon,
a > span.glyphicon {
    font-size: 18px;
    vertical-align: text-top;
}

#alert-https {
    margin-top: 20px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    & a {
        color: #1b809e;
        font-weight: bold;
    }
}

#map-canvas {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    // border: 1px solid red;
}

#footer {
    position: relative;;
    // bottom: 0;
    width: 100%;
    background-color: #ecf0f1;
    text-align: center;
    // z-index: 999;

    & #footer-inner {
        display: inline-block;
        & td {
            padding: 6px 15px 4px 15px;
        }
        & iframe {
            margin-top: 6px;
        }
    }
}

.input-group {
    margin-bottom: 5px;
    white-space: nowrap;
}
.input-group-addon {
    text-align: left !important;
    // background-color: #6D7275;
    & .glyphicon-asterisk {
        font-size: 12px;
    }
}

.w-150 {
    width: 150px !important;
}

.mw-80 {
    min-width: 80px !important;
}
.mw-100 {
    min-width: 100px !important;
}
.mw-120 {
    min-width: 120px !important;
}
.mw-140 {
    min-width: 140px !important;
}
.mw-150 {
    min-width: 150px !important;
}
.mw-160 {
    min-width: 160px !important;
}
.mw-170 {
    min-width: 170px !important;
}
.mw-180 {
    min-width: 180px !important;
}
.w-full {
    width: 100% !important;
}

.inline-block {
    display: inline-block;
}
.nowrap {
    white-space: nowrap;
}
.pointer {
    cursor: pointer !important;
}
